body{
    display: flex;
    justify-content: space-evenly;
}
.box {
    width: 15rem;
    height: 15rem;
    background-color: black;
    color: red;
    transition: width 3s, height 3s, background-color;
    transition-timing-function: ease;
    transition-delay: 0s;
    
}

.box:hover {
    width: 20rem;
    height: 20rem;
    background-color: red;
    color: black;
}
.box2{
    background-color: black;
    color: white;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2:hover{
    transform: rotate(75deg);
}
.box3{
    background-color: black;
    color: white;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3:hover{
    transform: skew(40deg);
}
.box4{
    background-color: black;
    color: white;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4:hover{
    transform: scale(1.2,3);
}
.box5{
    background-color: black;
    color: white;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5:hover{
    transform: translate(30px);
}